{% extends 'base.html' %}
    {% block title %}
        Cars List
    {% endblock %}
{% block content %}
    {% for i in all_cars_list %}
        <div class="list_body">
            <div>
                <h3>{{ i.dealer }}</h3>
                    <p>{{ i.model }}</p>
                    <a href="{% url 'car_detail' i.id %}">Read more...</a>
           </div>
        </div>
    {% endfor %}

<div class="page-current">
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href ="?page=1">first</a>
        <a href="?page={{ page_obj.previous_page_number }}">&laquo</a>
    {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <a class="btn-page">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}
{% endif %}
</div>
{% endblock %}